<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <body>
        <center>
        <form name="jobApplicationsByJobIdForm" id="jobApplicationsByJobIdForm" method="POST" action="/jobApplicationsByJobId">
        <input type="hidden" name="token" id="token" value="<%- token -%>">
        <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
            <tr class="thead-dark">
            <td colspan=3>
                <center>
                    <% if (typeof jobApplicationsByJobId !== 'undefined') { %>
                        <input type="text" name="jobId" value="<%- jobId -%>" alt="Enter Job Id" placeholder="Enter Job Id">
                    <% } else { %>
                        <input type="text" name="jobId" alt="Enter Job Id" placeholder="Enter Job Id">
                    <% } %>
                    <input type="submit" value="Job Applications By Job Id">
                    <input type="submit" value="View All Jobs Data">
                    <% if (typeof jobApplicationsByJobId !== 'undefined') { %>
                        <input type="button" onclick="window.print()" value="Print">
                    <% } %>
                </center>
            </td>
            </tr>
        </table>
        <% if (typeof jobApplicationsByJobId !== 'undefined') { %>
            <span>
            <input type="hidden" name="first" id="first" value="<%- first -%>">
            <input type="hidden" name="prev" id="prev" value="<%- prev -%>">
            <input type="hidden" name="next" id="next" value="<%- next -%>">
            <input type="hidden" name="last" id="last" value="<%- last -%>">
            <input type="hidden" name="paginationEventType" id="paginationEventType">
            <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                <tr class="thead-dark">
                <td colspan=3>
                    <center>
                        <a href="javascript:paginationEvent('first')">First</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('prev')">Previous</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('next')">Next</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('last')">Last</a>
                    </center>
                </td>
                </tr>
            </table>
            </span>
            <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                <tr>
                    <th style="text-align:center">Job Id</th>
                    <th style="text-align:center">Job Title</th>
                    <th style="text-align:center">Current Status</th>
                    <th style="text-align:center">Created At</th>
                    <th style="text-align:center">Updated At</th>
                </tr>
                <% for (var i = 0; i < jobApplicationsByJobId.length; i++) { %>
                    <tr>
                        <td><%= jobApplicationsByJobId[i].jobId %></td>
                        <td><%= jobApplicationsByJobId[i].jobTitle %></td>
                        <td><%= jobApplicationsByJobId[i].status ? jobApplicationsByJobId[i].status.name : '-' %></td>
                        <td><%= moment(jobApplicationsByJobId[i].createdAt).format('L') %></td>
                        <td><%= moment(jobApplicationsByJobId[i].updatedAt).format('L') %></td>
                    </tr>
                <% } %>
            </table>
            <span>
            <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                <tr class="thead-dark">
                <td colspan=3>
                    <center>
                        <a href="javascript:paginationEvent('first')">First</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('prev')">Previous</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('next')">Next</a>
                        &nbsp;
                        <a href="javascript:paginationEvent('last')">Last</a>
                    </center>
                </td>
                </tr>
            </table>
            </span>
            </form>
        <% } %>
        <% if (typeof error !== 'undefined') { %>
            <%= error %>
        <% } %>
        </center>
    </body>
    <script>
        function paginationEvent(eventType) {
            $("#paginationEventType").val($("#"+eventType).val());
            $("#jobApplicationsByJobIdForm").submit();
        }
    </script>
</html>