<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <body>
        <% if (typeof candidateNotes !== 'undefined' && candidateNotes.length > 0) { %>
            <center>
                    <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                        <tr class="thead-dark">
                        <td colspan=3>
                            <center>
                                <input type="button" onclick="window.print()" value="Print">
                            </center>
                        </td>
                        </tr>
                    </table>
            </center>
            <table class="table table-bordered table-striped table-responsive-stack" id="candidateTimelineTable" border="1" cellpadding="15">
                <thead>
                <tr>
                    <th>Date</th>
                    <th style="text-align:center">Event Type</th>
                    <th>Details</th>
                    <th style="text-align:center">Day Of Engagement</th>
                </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < candidateNotes.length; i++) { %>
                    <tr>
                        <td class="updatedat"><%= moment(candidateNotes[i].updatedAt).format('LLL') %></td>
                        <td style="text-align:center" ><%= candidateNotes[i].type %></td>
                        <td><%= candidateNotes[i].textPartial %></td>
                        <td style="text-align:center"><%= candidateNotes[i].dayOfEngagement %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } %>
        <% if (typeof error !== 'undefined') { %>
            <%= error %>
        <% } %>
    </body>
</html>